contourpy==1.0.6
cycler==0.11.0
fonttools==4.38.0
kiwisolver==1.4.4
matplotlib==3.6.2
numpy==1.24.1
packaging==22.0
pikachu==0.1.9
pikachu-chem==1.0.10
Pillow==9.4.0
pyparsing==3.0.9
PySide6==6.4.1
PySide6-Addons==6.4.1
PySide6-Essentials==6.4.1
python-dateutil==2.8.2
rdkit==2022.9.3
shiboken6==6.4.1
six==1.16.0
